:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

md-sidenav-container {
    height: 100%;
    width: 100%;
}

.left-pane {
    width: 50%;
    top: 64px;
    bottom: 0;
    position: absolute;
    border-right: 1px solid #cccccc;
}


.fill-remaining-space {
    flex: 1 1 auto;
}

md-sidenav {
    min-width: 50%;
}
